@media (min-width: 641px) {
    .card {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-right: 3%;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }
}